/* * { font-family:Arial} */
table, th, td {
	
	border:1px solid blue;
	}
table {
	text-align : center;
	width :750px;
	border-collapse:collapse;
	}
th {height:50px;text-align:center;}
td {text-align:left;height:50px;vertical-align:middle;text-align: center;}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	
	
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.container {
	margin: 5px 160px;
	width: 790px;
	}
	
.notValid{
	border-color: #C25B5B;
	border-style: solid;
}

form[name=addCategory]{
	display: inline-table;
}
