@charset "utf-8";	

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	text-align: center;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat-x;
	font-weight: bold;
}

a {
	font-size:12px;
	color:#69699c;
	font-family: tahoma, arial, sans-serif;	
	text-decoration:none;
}

a:hover {
	color: #35356A;
}

span {
	display: none;
}

img {
	border: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
	line-height: 14px;
}

.price{
	float:none;
	margin: 5px 20px 0px;
	clear: both;
	text-align: right;
	max-height: 40px;
	overflow: hidden;
}
.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;

}
.empty {
	height:53px;
	width:300px;
	margin : 0px;	
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;

}
#container {
	height:auto;
	background-color: #fff;
	margin: 69px auto;
	width: 950px;
	border-color: #9e9ec3;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

#makeorder{
	
}
#normtable{
	
}
}
input {
		margin-bottom: 5px;
	padding: 3px;
	height:25px;
	padding-left: 2px;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
}


/* Page Header */
#pages{
height: 20px;
text-align : center;
	
}
#pages img{
margin-top : 5px;
margin-left : 5px;
margin-right :5px;	
}
#page_header {
	width: inherit;
	height: 172px;
	color: #fff;
	background: url('../images/bg2.jpg') repeat-x 0px 0px;
	overflow: hidden;
	/* [disabled]border-width: 1px 1px 1px 1px; */
	/* [disabled]border-color: #9e9ec3; */
}
#basket input{
	display : inline;
	width :25px;

}
#basket {
	margin : right;

}


#page_header a {
	color: #fff;
	text-decoration: none;
}

#page_heading {
	width: 190px;
	height: 75px;
	background: url('../images/company_logo.jpg') no-repeat 35px 37px;
	float: left;
}

#page_heading h1 {
	width: 250px;
	height: 62px;
	background: url('../images/company_name.jpg') no-repeat 56px 36px;
	float: left;
}

#page_heading h2 {
	width: 190px;
	height: 32px;
	background: url('../images/company_punchline.jpg') no-repeat 56px 2px;
	float: left;
	clear: both;
}

#page_headerlinks {
	padding-right: 25px;
	padding-top: 25px;
	float: right;
	text-align: left;
	word-spacing: -1px;
}
#filter{
text-align : center;
padding-left: 3px;
padding-top: 3px;


}

#filter input{

padding-left: 3px;
margin-top: 5px;
height : 20px;
width: 50px;

}




#page_headerlinks ul {
	list-style-type: none;	
}

#page_headerlinks li {
	padding: 0px 10px 0px 9px;
	float: left;
	list-style-type: none;
	background: url('../images/header_toplinks_div.gif') no-repeat 100% 2px;
}

#page_headerlinks li.last {
	padding-right: 0px;
	background: none;
}

#page_headersearch {
	padding-right: 25px;
	padding-top: 25px;
	float: right;
	clear: right;	
	text-align: left;
	word-spacing: -1px;
	overflow : hidden;
}

#page_headersearch h3 {
	float: left;
	font-weight: bold;
	font-size: 12px;
}

#page_headersearch form {
	padding-left: 3px;
	float: left;
}

#page_headersearch input {
	margin-top: 1px;
	padding-left: 2px;
	width: 142px;
	height: 14px;
	float: left;
	border: none;
}

#page_headersearch input.button {
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	width: 34px;
	height: 16px;
	background-color: transparent;
	float: left;
}


/* Main Navigation Menu */

#page_menu {
	margin-bottom: 1px;
	float:right;
	width: 790px;
	height: 35px;
	margin-top: 54px;
}

#page_menu ul {
	
	width: 790px;
	height: 35px;
	list-style-type: none;
	overflow: hidden;
}

#page_menu li {
	margin-right: 3px;
	width: 128px;
	/* [disabled]height: 35px; */
	float: left;
	background: url('../images/on.jpg') repeat-x 0px 0px;
	overflow: hidden;
	text-align: center;
	/* [disabled]font-size: 11px; */
	/* [disabled]font-weight: bold; */
}
#page_menu li:hover {
	background: url('../images/off.jpg') repeat-x 0px 0px;		
}

#page_menu li.last {
	margin-right: 0px;
	width: 129px;
}

#page_menu a {
	margin-top:10px;	
	height: 35px;
	display: block;
	color: #fff;
}

#page_menu a:hover {	
	margin-top:10px;
	text-decoration:none;
}


/* Left Sidebar */

#left_sidebar {
	width: 159px;
	float: left;
	/* [disabled]text-align: 1px 1px 1px 1px; */
	color: #9e9ec3;
	height:auto;
	
}

#left_sidebar a {
	color: #8989b6;
}

#left_sidebar a:hover {
	color: #75759c;
}



/* Left Sidebar: Newsletter Signup Box */

#newsletter {
	margin-bottom: 2px;
	padding: 5px 5px 15px;
	width:inherit;
	border-color: #9e9ec3;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	overflow: hidden;
	font-weight: bold;
}

#newsletter h2 {
	padding-bottom: 10px;
	font-size: 10px;
}

#newsletter input {
	padding-left: 0px;
	width: 115px;
	height: 16px;
	border: #bfbfe6 1px solid;
	float: left;
	clear: left;
}

#newsletter input.button {
	margin-top: 3px;
	margin-left: 95px;
	width: 22px;
	height: 13px;
	border: none;
}

#newsletter #link_cancel {
	margin-top: 5px;
}


/* Left Sidebar : Categories */

#categories {
	width:inherit;
	/* [disabled]margin-bottom: 1px; */
	/* [disabled]padding: 1px 1px 1px 0px; */
	border-style: solid;
	/* [disabled]text-align: center; */
	border-width: 0px 1px 1px 0px;
	
}

#categories_header {
	background-image:url(../images/heading-bg.gif);
	margin-bottom: 2px;
	width: inherit;
	height: 35px;
	overflow: hidden;
	/* [disabled]font-weight:bold; */
}

#categories_header h2 {
	margin-top: 5px;
	margin-left: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

#categories ul {
	margin: 0px auto;
	width: 120px;
	list-style-type: none;
}

#categories li {
	width: 120px;
	height: auto;
	list-style-type: none;
	text-align: left;
	border-bottom: #b6b6d2 1px solid;
	float: left;
	
}

#categories li.last {
	border: none;
	margin-bottom: 3 px;
}

#categories li a {
	margin-top: 4px;
	margin-left: 6px;
	display: block;
	color: #7575a9;
	text-decoration: none;
}

#categories li a:hover {
	color: #75759c;
}


/* Left Sidebar : Special Offer */

#specialoffer {
	width: 129px;
	height: 98px;
	overflow: hidden;
	background: url('../images/specialoffer_background.jpg') no-repeat 0px 0px;
	color: #fff;
	font-size: 11px;
}

#specialoffer_text {
	width: 129px;
	height: 60px;
}

#specialoffer_text h2 {
	margin-top: 8px;
	margin-left: 10px;
	width: 113px;
	height: 38px;
	background: url('../images/specialoffer_header.gif') no-repeat 0px 0px;
}

#specialoffer_link {
	margin-left: 12px;
}

#specialoffer_link a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#specialoffer_link a:hover {
	color: #f2f2f2;
}


/* Main Content Area */

#main_content {
	width: 790px;
	
	float: right;
}

#main_content2 {
	width: 948px;
	text-align: center;
	float: right;
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background-color: #c2c2cd;
	overflow: hidden;
}


/* New Item Description */
#item_set {
	/* [disabled]padding:2px; */
	width:inherit;
	/* [disabled]height:100%; */
}
#new_item {
	margin: 5px 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	/* [disabled]padding: 5px 5px; */
	width: 250px;
	float:left;
	border-style: solid;
	border-color: #9e9ec3;
	border-width: 1px;
	height: 365px;	
}
#new_item1 {
margin: 5px 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	/* [disabled]padding: 5px 5px; */
	width: 500px;
	float:left;
	border-style: solid;
	border-color: #9e9ec3;
	border-width: 1px;
	height: 365px;	
}
#new_item_header {
	text-align:center;
	margin: 10px 15px 2px;
	overflow: hidden;
	max-width: 255px;
	height: 65px;

}

#new_item_header h1 {
	color: #434367;
	font-size: 17px;
	font-weight:bold:
	
}

#new_item_image {
	width: auto;
	float: none;
	overflow: hidden;
	text-align: center;
	clear: both;
	max-height: 200px;
}

#new_item_image1 {
	overflow: hidden;
	text-align: left;
	clear: both;
	max-height: 200px;
}

#new_item_text {
	float: left;
	clear: both;
	width: auto;
	overflow: hidden;
	margin: 5px 20px 0px;
	height: 80px;
	font-weight: normal;
}

#new_item_link {
	float: right;
	clear: left;
	width: inherit;
	font-weight: bold;
	text-align: right;
	margin: 2px 30px 5px;
}

#new_item_link a {
	text-decoration: none;
}


/* Sub Items Descriptions */

.sub_items {
	margin-bottom: 2px;
	margin-top: 5px;
	width: 100%;
	/*background: url('images/item_sub_background.gif') repeat-y 0px 0px;*/
	text-align: justify;
}

/*.sub_left {
	padding-left: 5px;
	width: 300px;
	float: left;
}

.sub_right {
	padding-right: 15px;
	width: 315px;
	float: right;
}
*/
.sub_items_header {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
	width: 110px;
}

.sub_items_header h1 {
	color: #434367;
	font-size: 14px;
	font-weight: bold;
	font-family: arial, tahoma, sans-serif;
}

.sub_items_header h2 {
	color: #434367;
	font-size: 12px;
	font-weight: normal;
	font-family: arial, tahoma, sans-serif;
}

.sub_items_image {
	margin-top: 15px;
	float: right;
	text-align: right;
}

.sub_items_text {
	padding-left: 20px;
	float: left;
	clear: left;
	width: 110px;
}

.sub_items_cartinfo {
	padding-top: 12px;
	padding-left: 20px;
	color: #820721;
	font-family: arial, tahoma, sans-serif;
	float: none;
	clear: both;
}

.sub_items_cartinfo h2 {
	font-size: 14px;
	font-weight: bold;
}

.sub_items_cartinfo .price {
	float: left;
	text-align: left;
}

.sub_items_cartinfo .addtocart {
	margin-top: 2px;
	float: right;
	width: 100px;
	height: 12px;
	text-align: left;
	background: url('../images/button_addtocart.gif') no-repeat 0% 0%;
}


/* Page Footer */

#page_footer {
	width: 780px;
}

#powered_by {
	padding-top: 17px;
	float: right;
	width: 305px;
	height: 30px;
	color: #9595c2;
	text-align: center;
}

#powered_by a {
	color: #9595c2;
}

#product_brands {
	float: left;
}

#product_brands ul {
	width: 470px;
	list-style-type: none;
}

#product_brands li {
	margin: 5px 6px 3px 3px;
	height: 40px;
	list-style-type: none;
	float: left;
}

#product_brands li.zalcom {
	width: 200px;
	height: 59px;
	background: url('../images/brand_zalcom.gif') no-repeat 0px 0px;
}



/*NEW///////////////*/

/*.add {
	margin:20px;
	
}*/

/*div .add {
	margin: 20px auto 20px ;
	border: 5px ;
	width: 70%;
}*/

#login {
	margin-left: 170px;
	position: relative;
	width:auto;
	height:auto;
	float:left;
	/*border:1px;
	margin:20px 16% 20px ;
	border-style:solid;
	border-color:#9e9ec3;	*/
	padding: 20px;
}

#j_username{
	margin-right:15px;
}

#j_password{
	margin-right:25px;
}



/*#login form {
	display:block;
	text-align:justify
}*/

.login {
	width:40%;
	float:left;
	margin-top:50px;
	
}

.login2 {
	float:left;
	width:100%;	
}

#admin{
	width:70%;
	height:300px;
	float:right;
	border:1px;
	margin:20px 16% 20px ;
	border-style:solid;
	border-color:#9e9ec3;	
}

.admin {
	float:left;
	width:100%;
	margin-top:50px;
	text-decoration:underline;
}

#add_tovar {
	width:70%;
	height:350px;
	float:right;
	border:1px;
	margin:20px 16% 20px ;
	border-style:solid;
	border-color:#9e9ec3;	
}



/*#login form {
	display:block;
	text-align:justify
}*/

.add_tovar  {
	width:40%;
	float:left;
	margin-top:50px;
	
}

.add_tovar2 {
	float:left;
	width:100%;	
/*.login h3{
	width:50%;
	height:50%;
	float:left;
	margin:20px;
}*/
}
#info_item{
	margin: 0px auto 2px;
	padding: 5px 5px;
	width: 100%;	
	float:left;
}

#info_item_header{
margin: 10px;
	text-align:left;
}

#price_info{
	float:left;
	clear: left;
	width: auto;
	overflow: hidden;
	margin: 10px;
}

#info_item_image{
width: auto;
	float: left;
	overflow: hidden;
	text-align: center;
	margin: 10px;
}

#info_item_text{
	width: auto;
	overflow: hidden;
}
#info_item_text input{
	text-align : left;
	margin-top : 10px;
}

#info_button{
	margin-top:5px;
	float:left;
	clear: left;
	width: auto;
	overflow: hidden;
}
.complite_order{
	height: 50%;
	
}
.complite_order h2{
	margin-top: 15px;
	align: center;
	
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 9px;
	margin: 4px;
}

.form{
	display: inline;	
}


#colorNav > ul{
	
	margin:3px auto;
}

#colorNav > ul > li{ /* стили только для элементов верхнего уровня */
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	display: inline-block;
	line-height: 1;
	margin: 1px;
	border-radius: 3px;
	position:relative;
}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:12px;
	padding: 20px;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:180px;
	left:50%;
	margin-left:-90px;
	
	font:bold 12px 'Open Sans Condensed', sans-serif;
	
	/* Важно для анимации вывода/скрытия  */
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

#colorNav li ul li{
	background-color:#345675;
}

#colorNav li ul li a{
	padding:8px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* Полоски зебры */
	background-color:#21405c;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:25px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* Указатель подсказки */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#fffff0;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

/* Запуск анимации перехода CSS */
/* при наведении курсора мыши на элемент */

#colorNav li:hover ul{
	max-height:200px; /* Увеличиваем при добавлении дополнительных выпадающих пунктов */
}


/*----------------------------
	Цветные темы
-----------------------------*/


#colorNav li.green{
	/* Цвет пункта меню */
	background-color:#00c08b;
	
	/* Цвет иконки */
	color:#127a5d;
}

#colorNav li.red{		background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{		background-color:#ffffff;color:#75759c;}
#colorNav li.yellow{	background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{	background-color:#df6dc2;color:#9f3c85;}

/*/////User add//////*/
#user{
	/* border: 1px solid black; */
	height: inherit;
}


#user .filds {		
	/* border: 1px solid black; */
	height: auto;	
	overflow:auto;
}
#user .filds div{	
	/* border: 1px solid black;	 */
	margin: 0px;		
}

.fild {
	text-align:left;
	float:none;
	overflow:auto;
	height: inherit;	
	padding: 3px;
	min-height: 10px;
	height: auto;
	/* border: 1px solid black;	 */
}
	
#user .fild .error{	
	/* border: 1px solid #ff0000; */
	background-color:#ffEEEE;
	color:#ff0000;
	margin-right:70px;
	overflow:auto;
	width:250px;
	float:right;	
	text-align: left;	
	/* visibility: hidden;  */
}	

 #user .fild .input{
 	border: 1px solid black;	
 	background-color: #E8E8E8;	
	float: left;
	text-align: left;
	margin-left: 180px;
	width: 240px;
}
.fild .input input,.fild .input select{
	 float:right;
	
}
.fild #add,.fild input[name="Edit"]{
	margin-left: 390px;
	float: left;	
	
}
.fild #success{
	float: right;
	background-color:#A9FFAE ;
	color:#0A5216;
	margin-right:223px;
	width: 100px;	
	/*  border: 1px solid black; */		
}

.commentlist {
width: 100%;
margin: 0 auto 0 auto;
}

#contenis {
font: 14px Verdana,sans-serif;
}

#contenis ul.pohoz li {
margin-bottom: 5px;
width: 100%;
}

.comment {
background: white;
border-top: 10px solid hsl(189, 32%, 92%);
}
#contenis {
font: 14px Verdana,sans-serif;
}
.comment-body {
border: 1px solid black;
}
element.style {
}

.comment-author {
color: black;
padding: 10px 0 0 10px;
vertical-align: text-top;
}

#contenis .comment-body p {
margin: 15px 40px 0 50px;
}

#respond {
width: 100%;
margin: 10px auto 0 auto;
}
#respond h3 {
font-weight: bold;
text-transform: uppercase;
}

#comments, #respond h3 {
text-align: center;
width: 101%;
margin: 0 0 0 -5px;
border: 1px solid white;
padding: 2px 0 4px 0;
background: hsl(205, 77%, 17%);
color: white;
}

#commentform {
width: 500px;
margin-left: 35px;
}

#contenis p {
margin: 10px 10px 7px 10px;
}

textarea {
-webkit-appearance: textarea;
background-color: white;
border: 1px solid;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-box-orient: vertical;
resize: auto;
cursor: auto;
padding: 2px;
white-space: pre-wrap;
word-wrap: break-word;
}

.avatar {
float: left;
margin-right: 10px;
}

.fn {
display: block;
padding-top: 7px;
font-weight: bold;
}

#basket{
	margin-top:30px;
	margin-bottom:0px;
}
